[include]
    path = ~/.config/git/user

[color]
    ui = true

[core]
    autocrlf = input

[alias]
    a = add
    au = add -u
    aa = add -A
    ap = add -p
    an = add -N

    fo = fetch origin

    co = checkout
    com = checkout master
    cob = checkout -b
    coc = checkout -- .

    ll = log --oneline --graph --decorate
    ld = log --oneline --graph --decorate -p
    lf = log --pretty=fuller

    ss = status

    rom = rebase master
    ri = rebase -i
    rir = rebase -i --root
    rc = rebase --continue
    ra = rebase --abort
    rir = rebase -i --root HEAD

    cc = commit
    cm = commit -m
    cmfm = "commit -m 'fixup'"
    cmf = "commit --fixup"
    cmi = "commit -m 'Initial commit'"
    ca = commit --amend

    res = reset --soft
    rem = reset
    reh = reset --hard
    rh1 = reset HEAD~1
    rhh1 = reset --hard HEAD~1

    dd = diff
    dc = diff --cached
    dh = diff HEAD~1

    pfo = push --force origin
    pom = push origin master

    cl = clone

    cp = cherry-pick

    mff = merge --ff
    mnf = merge --no-ff

    bd = branch -D

    amd = am --committer-date-is-author-date

[pager]
    diff = diff-so-fancy | less --tabs=4 -RFX
    show = diff-so-fancy | less --tabs=4 -RFX
    log = diff-so-fancy | less --tabs=4 -RFX

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
